{% extends 'base.html' %}
{% block title %}
Add new Password Page
{% endblock %}
{% block content %}
<body class="text-center">
   <div class="container">
      <form method="POST" class="form-register" style="color: white">
         {{form.hidden_tag()}} 
         <br>
         <h1 class="h3 mb-3 font -weight-normal">
            Add new Password Details
         </h1>
         <br>
         {{form.WebsiteName.label()}}
         {{form.WebsiteName(class="form-control", placeholder="WebsiteName")}}
         {{form.LoginId.label()}}
         {{form.LoginId(class="form-control", placeholder="LoginId")}}
         {{form.Password.label()}}
         {{form.Password(class="form-control", placeholder="Password")}}
         <br>
   </div>
   {{form.submit(class="btn btn-lg btn-block btn-primary")}}
   </form>
   </div>
</body>
{% endblock %}