{% extends 'base.html' %}
{% block title %}
Password Page   
{% endblock %}
{% block content %}
<table class="table table-hover table-dark">
   <thead>
      <tr>
         <!-- Your Columns HERE -->
         <th scope="col">ID</th>
         <th scope="col">WebsiteName</th>
         <th scope="col">LoginId</th>
         <th scope="col">Password</th>
         <th scope="col">Last_Updated</th>
         <th scope="col">owner</th>
      </tr>
   </thead>
   <tbody>
      <!-- Your rows inside the table HERE: -->
      {% for pass in passwords %}
      <tr>
         <td>{{pass.id}}</td>
         <td>{{pass.WebsiteName}}</td>
         <td>{{pass.LoginId}}</td>
         <td>{{pass.Password}}</td>
         <td>{{pass.Last_Updated}}</td>
         <td>{{pass.owner}}</td>
         <td>
            <button class="btn btn-outline btn-update">Update Password</button>
            <button class="btn btn-outline btn-update">Delete Password</button>
         </td>
      </tr>
      {% endfor %}
   </tbody>
</table>
{% endblock %}